<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>Edit Department</title>
</head>
<body>
    {% csrf_token %}
    <center>
    <h2></h2>

    <fieldset >
        <legend>Edit Employee Details</legend>
    <form id="f1" action="{% url 'emp:EditEmp' %}" method="get" >
       {% csrf_token %}
        <table class="table table-bordered">
       <tr><th> Name:</th><td><input type="text" maxlength="30" name="e2" value="{{ e1.ename }}" /></td></tr>
        <tr><th>  Age:</th><td><input type="text" maxlength="30" name="e3" value="{{ e1.age }}" /></td></tr>
       <tr><th>  Email id:</th><td><input type="text" maxlength="30" name="e4" value="{{ e1.emailid }}" /></td></tr>
        <tr><th> Mobile No:</th><td><input type="text" maxlength="30" name="e5" value="{{ e1.mobno }}" /></td></tr>
        <tr><th> Designation:</th><td><input type="text" maxlength="30" name="e6" value="{{ e1.designation }}" /></td></tr>
        <tr><th> Department:</th><td><select name="e7" selected="{{ e1.dep }}">{% for i in d1 %}<option>{{ i.dept }}</option> {% endfor %}</select>
        </td></tr>
            <input type="hidden" value="{{ e1.id }}" name="eeid">
        </table>
        <span class="label label-danger"> <a href="{% url 'emp:List1' %}" class="">Back</a></span>
        <input type="submit" name="update" value="Update" class="btn btn-primary" />

    </form>
        </fieldset>
        </center>
</body>
</html>