<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<center>
    <h2> Employee Information System</h2>
    <fieldset><legend>Modules</legend>
    <form action="{% url 'emp:index' %}" method="post" class="form-horizontal">
    <ul>
        <li><a href="{% url 'emp:List' %}">Employee Details</a></li>
        <li><a href="{% url 'emp:List1' %}">Department Details</a></li>
    </ul>
    </form>
        </fieldset>
    </center>
</body>
</html>