{% extends "base.html" %}
{% block title %}List of Department{% endblock title %}
{% block content %}
    <center>
    <hr><hr><hr>
     <h2 class="alert-warning">List of Department</h2><hr>


    {% if depl %}
    <form id="f2">
        {% csrf_token %}
        <table class="table table-bordered">
            <tr>
                <th>Sr.no</th>
                <th>Department_Name</th>
                <th>View Employee details</th>
                <th>Edit details</th>
                <th> Delete??</th>
            </tr>
            {% for d1 in depl %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ d1.dept }}</td>
                <td><a href="{% url 'emp:Viewdetail' d1.id%}">Department Details</a> </td>
                <td><a href="{% url 'emp:Edit1' d1.id%}">Edit</a> </td>
                <td><a href="{% url 'emp:Deldep' d1.id%}">Delete</a> </td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% else %}
    <p class="label label-primary"> No data found </p><p></p><p></p>
    {% endif %}
 <form id="f1" action="{% url 'emp:New1'%}">
     <span class="btn btn-primary"><a href="{% url 'emp:index' %}" style="color: #ffffff">Back</a></span>
        <input type="submit" name="submit1" id="new" class="btn btn-primary" value="Add New Department?" />
    </form>
</center>
{% endblock content %}



